@model IEnumerable<AdminBlog.Models.Blog>
@{
    ViewData["Title"] = "Author"; 
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th> 
            <th scope="col"></th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"> 
                <a href="/Blog/Blog" class="btn btn-success ml-auto d-flex justify-content-end" style="width:140px">Blog Yazısı Ekle</a> 
            </td>
        </tr>
        @foreach (var item in Model) // Modeldeki her bir blog yazısı için döngü 
        {
            <tr>
                <td>@item.Title</td> 
                <td>
                    @if (item.IsPublish) // Blog yayınlanmışsa 
                    {
                        <a class="btn btn-success">Yayınlandı</a> 
                    }
                    else
                    {
                        <a class="btn btn-light" asp-route-id="@item.Id" asp-action="Publish">Yayınla</a> 
                    }
                    <a class="btn btn-secondary" href="/Blog/Edit/@item.Id">Düzenle</a> 
                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Sil</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
